body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color:Black;
}

head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding-right: 5%;
}

title {
    float: left;
}

.links {
    float: right;
    padding-right: 5%;
}

img {
    float: left;
}

input {
    width: 900px;
}

button {
    color: white;
    background-color: #4aaaa5;
    width: 90px;
    height: 30px;
}

.parent {
    width: 920px;

}

.child {
    width: 920px;
    text-align: left;
    
}