body {
    background-color: gray;
    }

.background {
    background-color: white;
    width: 960px;
    margin-left: 15%;
    bottom: 0%;
    position: absolute;
    font-size: 25px;
    border: 25px teal
}

img {
    top: 15%;
    bottom: 15%;
    width: 100%;
    height: 450px;
}



li {
    float: right;
    padding: 25px;
    position: relative;
    margin-right: 5%;
    right: 120px;
    list-style-type: none;
    font-weight: bold;
    color: white;
}

.nameplate {
    position: relative;
    left: 100px;
    top: 75px;
}

h1 {
    margin-left: 100px;
    background-color: teal;
    width: 200px;
    height:50px;
    text-align: center;
    bottom: 75px;
    left: 75px;
}

footer {
    text-align: center;
    background-color: teal;
}

h2 {
    color: teal;
    text-decoration: underline teal;
    text-decoration: width 900px;
}

#Jake {
    float:left;
    width: 200px;
    height: 200px;
}


.contact-info {
    position: absolute;
    bottom: 200px;
    left: 250px;
}



#portfolio-header {
    margin-left: 100px;
    background-color: teal;
    width: 200px;
    height:50px;
    text-align: center;
    bottom: 75px;
    left: 75px;
}

button {
    width: 75px;
    height 30px;
    background-color: teal;
    text-align: center;
}

#contact-header {
    margin-left: 200px;
    background-color: teal;
    width: 200px;
    height:50px;
    text-align: center;
    bottom: 75px;
    left: 200px;
    
}

#contact-background {
    position: relative;
    height: 449px;
    width: 920px;
    background-color: white;
    bottom: 455px;
    left: 200px;
}

#port-gallery {
    width: 920px;
    position: relative;
    left: 190px;
    bottom: 454px;

}